<!-- Begin Organizers Modals -->
{% for person in site.data.people%}
    {% if person.isOrganizer == true or 
        person.isFounder == true or 
        person.isTechCfp == true or 
        person.isEntrepreneurCfp == true %}
        <div class="modal fade text-left people-modal" id="personDetail-{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="personDetailLabel-{{ forloop.index }}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="close" data-dismiss="modal" aria-close="Close">
                            <svg class="icon icon-cross" viewBox="0 0 32 32">
                                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross"></use>
                            </svg>
                        </div>
                        <div class="people-details">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: "/img/" | append: person.thumbnailUrl }})"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 details">
                                    <p class="name">{{ person.firstname }} {{ person.surname }}
                                        {% if person.twitter != null %}
                                        <span class="position">
                                            <a href="https://twitter.com/{{ person.twitter }}" target="_blank">
                                                <svg class="icon icon-twitter" viewBox="0 0 30 32">
                                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                                                </svg>
                                            </a>
                                        </span>
                                        {% endif %}

                                        {% if person.linkedin != null %}
                                        <span class="position">
                                            <a href="https://linkedin.com/in/{{ person.linkedin}}" target="_blank">
                                                <svg class="icon icon-linkedin" viewBox="0 0 30 32">
                                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-linkedin"></use>
                                                </svg>
                                        </a>
                                        </span>
                                        {% endif %}
                                    </p>
                                    <p class ="about text-justify">
                                    {% if person.title != null and person.company != null %}
                                    {{ person.title | newline_to_br }} at {{ person.company | newline_to_br }}
                                    {% elsif person.title != null %}
                                    {{ person.title | newline_to_br }}
                                    {% elsif person.company!= null %}
                                    {{ person.company | newline_to_br }}
                                    {% endif %}</p>
                                    {% if person.bio != null %}
                                    <p class="about text-justify">{{ person.bio | newline_to_br }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
<!-- End Organizers Modals -->
