<!-- Begin CFP Submissions List-->

<section id="cfp" class="team">
  <div class="col-lg-10 col-lg-offset-1 text-center">
      <hr />
      <h4>CFP Submissions</h4>
      <hr />

      <div>
        The BSidesNYC 0x05 CFP is open from April 16, 2025 to July 19, 2025.
        <div class="card text-left">
          We are accepting submissions for two speaking tracks and one workshop track:
          <ul>
            <li>Technical - This is our primary programming for the conference with topics ranging from red teaming to privacy policy, DFIR to malware dev.
            <li>Workshop - Two-hour session where you lead attendees on hands-on exercises. 
            <li>Entrepreneur - Tell the world about what you learned from running/growing a security company.
          </ul>
        </div>
        <div class="text-center">
          <a href="https://sessionize.com/bsidesnyc-0x05/" class="btn btn-primary waves-effect waves-button waves-light waves-float">Submit today!</a>
        </div>
      </div>
      <hr />

  </div>
</section>
<!-- End CFP Submissions List -->
