<!-- Begin CFP Review Board Modals -->
<div class="modals" class="modals">
	{% for boardMember in site.data.people %}
		{% if boardMember.cfpBoard == true %}
			<div class="modal fade text-left people-modal" id="boardMemberDetail-{{ boardMember.id }}" tabindex="-1" role="dialog" aria-labelledby="boardMemberDetailLabel-{{ boardMember.id }}" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="close">
								<svg class="icon icon-cross" viewBox="0 0 32 32">
									<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross"></use>
								</svg>
								<div class="close-mask" data-dismiss="modal"></div>
							</div>
							<div class="people-details">
								<div class="row">
									<div class="col-md-2 col-sm-2">
										<div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: "/img/" | append: boardMember.thumbnailUrl }})"></div>
									</div>
									<div class="col-md-10 col-sm-10 details">
										<p class="name">{{ boardMember.name }} {{ boardMember.surname }}
											{% if boardMember.twitter != null %}
												<span class="position">
													<a href="https://twitter.com/{{ boardMember.twitter }}" target="_blank">
															<svg class="icon icon-twitter" viewBox="0 0 30 32">
																	<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
															</svg>
													</a>
												</span>
											{% endif %}
										</p>
										{% if boardMember.bio != null %}
											<p class="about text-justify">{{ boardMember.bio }}</p>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>
<!-- End CFP Review Board Modals -->
