<section id="cfp-process" class="cf-board cfp-section">
  <div class="col-lg-10 offset-lg-1 text-center">
      <h4>CFP Process</h4>
  </div>

  <div class="col-lg-10 offset-lg-1 text-center">
    <h5>CFP Review</h5>
    <div class="default-row text-start text-justify">
      <div class="card">
        <ul class="mb-0">
        {% for part in site.cfpProcessReviewText %}
          <li>{{ part }}</li>
        {% endfor %}
      </ul>
      </div>
    </div>

    <h5 class="mt-4">Accepted Speakers</h5>

    <div class="default-row text-start text-justify">
      <div class="card">
        <ul class="mb-0">
        {% for part in site.cfpProcessAcceptedText %}
          <li>{{ part }}</li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
</section>
<!-- End CFP Process List -->
