<!-- Begin CFP Process List-->
<section id="cfp-process" class="team">
  <div class="text-center">
    <h4 class="text-center">CFP Process</h4>
  </div>

  <h5>CFP Review</h5>
  <div class="default-row text-left">
      {% assign animationDelay = 0 %}
      <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
          <div class="card">
            <ul>
            {% for part in site.cfpProcessReviewText %}
              <li><p>{{ part }}</p></li>
            {% endfor %}
          </ul>
          </div>
      </div>
      {% assign animationDelay = animationDelay | plus:500 %}
  </div>

  <h5>Accepted Speakers</h5>

  <div class="default-row text-left">
      {% assign animationDelay = 0 %}
      <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
          <div class="card">
            <ul>
            {% for part in site.cfpProcessAcceptedText %}
              <li><p>{{ part }}</p></li>
            {% endfor %}
          </ul>
          </div>
      </div>
      {% assign animationDelay = animationDelay | plus:500 %}
  </div>
</section>
<!-- End CFP Process List -->
