<section id="cfp-process" class="cf-board">
  <div class="col-lg-10 col-lg-offset-1 text-center">
      <hr />
      <h4>CFP Process</h4>
      <hr />
  </div>

  <div class="col-lg-10 col-lg-offset-1 text-center">
    <h5>CFP Review</h5>
    <div class="default-row text-left text-justify">
      <div class="card">
        <ul>
        {% for part in site.cfpProcessReviewText %}
          <li><p>{{ part }}</p></li>
        {% endfor %}
      </ul>
      </div>
    </div>

    <h5>Accepted Speakers</h5>

    <div class="default-row text-left text-justify">
      <div class="card">
        <ul>
        {% for part in site.cfpProcessAcceptedText %}
          <li><p>{{ part }}</p></li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
</section>
<!-- End CFP Process List -->
