<!-- Begin CFP Submissions List-->

<section id="cfp" class="team">
  <div class="col-lg-10 col-lg-offset-1 text-center">
      <hr />
      <h4>CFP Submissions</h4>
      <hr />

      <div class="text-center">
        The BSidesNYC 0x04 CFP is open from April 17, 2024 to July 19, 2024.
      </div>
      <div class="text-center">
        <a href="https://sessionize.com/bsidesnyc-0x04-cfp" class="btn btn-primary waves-effect waves-button waves-light waves-float">Submit today!</a>
      </div>
      <hr />

      <iframe width="560" height="315" src="https://www.youtube.com/embed/Xrs316WCi-8?si=l5D68OOCClmQt_oh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  </div>
</section>
<!-- End CFP Submissions List -->
