<!-- Begin Direction Details-->
<section id="contact-us" class="contact-us">
    <div class="content-wrapper">
        <section class="image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.directionDetailsImage }}');">
            <h3 class="title-overlay">Contact Us</h3>
            <div class="overlay solid-overlay"></div>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                        <h4>Mailing List</h4>
                        <p>Subscribe to get updates!</p>
                            <iframe width="540" height="305" src="https://sibforms.com/serve/MUIFABkfPnFlblf_fVf5QmD0bp8DETIniHOvNRO3MOnw27rhY2xwaYPulQ1lq6rer_6CUmFvK05YVQWok7C0K0Vq8OVmGOZbqxOr_edk44A5gJayvpLPSdxjS4HPQ2N0xASGgtA9tP6p8836099pS9or8q_Gxe-gGkVsLx1b9cxz-fpd0u5IPOLeMwr8xxI9UaY4sYbsfU_-_kQ9" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                        <h4>Slack</h4>
                        <p>Join the BSidesNYC community. Get updates, connect with peers, ask questions, and find out about volunteer opportunities.</p>
                        <a href="{{ site.slackInviteUrl }}" class="btn btn-primary" role="button">Join Slack</a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                        <h4>Email</h4>
                        <p>Sponsorship inquries, press passes, and other general questions can be directed towards our email: bsides(at)bsidesnyc.org</p>
                        <a href="mailto:bsides@bsidesnyc.org" class="btn btn-primary" role="button">Email Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Direction Details -->
