<!-- Begin Intro Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.eventImage }}');">
    {% include navigation.html %}
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="100">
          <div class="logo-intro">
            <img src="{{ site.baseurl | append: '/img/' | append: site.logoImage }}">
          </div>
          <h3>{{ site.eventDate }}<p>at John Jay College of Criminal Justice</p></h3>
        </div>
    </div>
    </div>
</section>
<!-- End Intro Section -->
