<!-- Begin Live Stream Section -->
<section id="livestream" style="background-color: white">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <p>We are very happy to be able to offer a live stream of the tracks below. Unfortunately we're unable to livestream them all.</p>
            <h2>Red Track</h2>
            <iframe id="ls_embed_1729096978" src="https://livestream.com/accounts/686369/events/11192117/player?width=640&height=360&enableInfoAndActivity=true&defaultDrawer=&autoPlay=false&mute=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen> </iframe>

        </div>
    </div>
</section>

