<!-- Begin Partners Section -->
<section id="partners" class="partners">
  <div class="content-wrapper">
    <div class="col-lg-12">
      {% if page.permalink != '/' %}
        <h4>{{ site.partnersTitle }}</h4>
      {% else %}
        <h3><b>{{ site.partnersTitle }}</b></h3>
      {% endif %}

      <ul class="list-inline">
        {% for partner in site.data.partners %}
          {% if partner.isSponsor != true %}
            {% if partner.sharedImg %}
            <li>
              <a href="{{ partner.link }}" target="_blank">
                  <img src="{{ site.baseurl }} | append: '/img/' | append: {{ partner.imageUrl }}" title="{{ partner.nameLong }}" alt="{{ partner.name }}">
              </a>
            </li>
            {% else %}
              <li>
                <a href="{{ partner.link }}" target="_blank">
                    <img src="{{ site.baseurl }}/img/partners/{{ partner.imageUrl }}" title="{{ partner.nameLong }}" alt="{{ partner.name }}">
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<!-- End Partners Section -->
