<!-- Begin Policies Section -->
<section id="policies" class="policies">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>{{ site.policiesTitle }}</h3>
            <div class="text-left text-justify float-left col-md-12">
                {% for policy in site.data.policies %}
                 <h5>{{ policy.name }}</h5>
                  <p>{{ policy.text }}
                  </p>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Policies Section -->
