<!-- Begin Sessions Modals -->
<div class="modals" class="modals">
  {% for session in site.data.sessions %}
    <div class="modal fade text-left people-modal" id="sessionDetail-{{ session.id }}" tabindex="-1" role="dialog" aria-labelledby="sessionDetailLabel-{{ session.id }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="close">
              <svg class="icon icon-cross" viewBox="0 0 32 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross"></use>
              </svg>
              <div class="close-mask" data-dismiss="modal"></div>
            </div>
            {% if session.isSharedSession %}
              <!-- Handle split sessons -->
              {% for slot_split in session.slot_splits %}
                <h4>{{ slot_split.title }}</h4>
                <span class="theme-metadata"><span class="caption">Time slot: </span>{{ slot_split.slot | newline_to_br }}</span>
                <!-- By default, entrepreneur sessions are _not_ going to be recorded/streamed unless speaker has their own means to be -->
                {% if slot_split.recorded != null and slot_split.recorded == true %}
                  <span class="theme-metadata"><span class="caption">Recorded: </span>True</span>
                {% else %}
                  <span class="theme-metadata"><span class="caption">Recorded: </span>False</span>
                {% endif %}
                <!-- make sure each `description` has _2_ new lines per every 1 \n unless you want each line right under each other-->
                <p class="theme-description text-justify">{{ slot_split.description | newline_to_br }}</p>
                {% if slot_split.presentation %}
                  <a class="theme-presentation" href="https://github.com/bsidesnyc/BSidesNYC{{ site.conYear }}/blob/master/Presentations/{{ slot_split.presentation }}" title="Presentation" target="_blank">View presentation</a>
                {% endif %}
                {% if slot_split.recording %}
                  <a class="theme-recording" href="{{ slot_split.recording }}" title="Recording" target="_blank">View Recording</a>
                {% endif %}
                <hr>
                <div class="people-details">
                  {% for speaker in site.data.people %}
                    {% for session_speaker in slot_split.speakers %}
                      {% if session_speaker == speaker.id %}
                      <div class="row">
                        <div class="col-md-2 col-sm-2">
                          {% if speaker.sharedImg == true %}
                            <div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: '/img/' | append: speaker.thumbnailUrl }})"></div>
                          {% else %}
                            <div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})"></div>
                          {% endif %}
                        </div>
                        <div class="col-md-10 col-sm-10 details">
                          <p class="name">{{ speaker.name }} {{ speaker.surname }}
                            {% if speaker.title != null and speaker.company != null %}
                              <span class="position">{{ speaker.title }}, <i>{{ speaker.company }}</i></span>
                            {% elsif speaker.title != null %}
                              <span class="position">{{ speaker.title }}</span>
                            {% else %}
                              <span class="position">{{ speaker.company }}</span>
                            {% endif %}
                          </p>
                          <p class="about text-justify">
                            {% if speaker.twitter != null %}
                                <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">
                                    <svg class="icon icon-twitter" viewBox="0 0 30 32">
                                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                                    </svg>
                                </a>
                            {% endif %}
                          </p>
                          {% if speaker.bio != null %}
                            <!-- make sure each `bio` has _2_ new lines per every 1 \n unless you want each line right under each other-->
                            <p class="about text-justify">{{ speaker.bio | newline_to_br }}</p>
                          {% endif %}
                        </div>
                      </div>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </div>
              {% endfor %}
            {% else %}
              <!-- Handle regular sessions -->
              <h4>{{ session.title }}</h4>
              <!-- By default, technical sessions are going to be recorded/streamed unless speaker wishes not to be -->
              {% if session.village != true %}
                {% if session.recorded != null and session.recorded == false %}
                  <span class="theme-metadata"><span class="caption">Recorded: </span>False</span>
                {% else %}
                  <span class="theme-metadata"><span class="caption">Recorded: </span>True</span>
                {% endif %}
              {% endif %}
              <!-- make sure each `description` has _2_ new lines per every 1 \n unless you want each line right under each other-->
              <p class="theme-description text-justify">{{ session.description | newline_to_br }}</p>
              {% if session.presentation %}
                <a class="theme-presentation" href="https://github.com/bsidesnyc/BSidesNYC{{ site.conYear }}/blob/master/Presentations/{{ session.presentation }}" title="Presentation" target="_blank">View presentation</a>
              {% endif %}
              {% if session.recording %}
                <a class="theme-recording" href="{{ session.recording }}" title="Recording" target="_blank">View Recording</a>
              {% endif %}
              <hr>
              <div class="people-details">
                {% for speaker in site.data.people %}
                  {% for session_speaker in session.speakers %}
                    {% if session_speaker == speaker.id %}
                    <div class="row">
                      <div class="col-md-2 col-sm-2">
                        {% if speaker.sharedImg == true %}
                          <div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: '/img/' | append: speaker.thumbnailUrl }})"></div>
                        {% else %}
                          <div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})"></div>
                        {% endif %}
                      </div>
                      <div class="col-md-10 col-sm-10 details">
                        <p class="name">{{ speaker.name }} {{ speaker.surname }}
                          {% if speaker.title != null and speaker.company != null %}
                            <span class="position">{{ speaker.title }}, <i>{{ speaker.company }}</i></span>
                          {% elsif speaker.title != null %}
                            <span class="position">{{ speaker.title }}</span>
                          {% else %}
                            <span class="position">{{ speaker.company }}</span>
                          {% endif %}
                        </p>
                        <p class="about text-justify">
                          {% if speaker.twitter != null %}
                              <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">
                                  <svg class="icon icon-twitter" viewBox="0 0 30 32">
                                      <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                                  </svg>
                              </a>
                          {% endif %}
                        </p>
                        {% if speaker.bio != null %}
                          <!-- make sure each `bio` has _2_ new lines per every 1 \n unless you want each line right under each other-->
                          <p class="about text-justify">{{ speaker.bio | newline_to_br }}</p>
                        {% endif %}
                      </div>
                    </div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
            {% endif %}
            <!-- Handle partners & villages -->
            <div class="partner-details">
              {% for partner in site.data.partners %}
                {% for session_partner_id in session.partners %}
                  {% if session_partner_id == partner.id %}
                    <div class="row">
                      <div class="col-md-2 col-sm-2">
                        {% if partner.link != null %}
                          <a href="{{ partner.link }}" target="_blank">
                            {% if partner.sharedImg %}
                              <div class="partner-img" style="background-image: url({{ site.baseurl | append: '/img/' | append: partner.imageUrl }})"></div>
                            {% else %}
                              <div class="partner-img" style="background-image: url({{ site.baseurl | append: '/img/partners/' | append: partner.imageUrl }})"></div>
                            {% endif %}
                          </a>
                        {% else %}
                          {% if partner.sharedImg %}
                            <div class="partner-img" style="background-image: url({{ site.baseurl | append: '/img/' | append: partner.imageUrl }})"></div>
                          {% else %}
                            <div class="partner-img" style="background-image: url({{ site.baseurl | append: '/img/partners/' | append: partner.imageUrl }})"></div>
                          {% endif %}
                        {% endif %}
                      </div>
                      <div class="col-md-10 col-sm-10 details">
                        <p class="name">{{ partner.villageName }}</p>
                        {% if partner.nameLong %}
                          <p class="position">{{ partner.nameLong }}</p>
                        {% endif %}
                        <p class="about text-justify">
                          <!-- make sure each `description` has _2_ new lines per every 1 \n unless you want each line right under each other-->
                          {{ partner.description | newline_to_br }}
                        </p>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<!-- End Speakers Modals -->
