<!-- Begin Speakers List-->
<section id="speakers" class="speakers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row text-left appear-animation-trigger">
              {% assign sorted_speakers = site.data.people | sort: 'surname' %}
                {% for speaker in sorted_speakers %}
                  {% if speaker.trackOpening == true or speaker.trackEntrepreneur == true or speaker.trackGeneral == true %}
                    <div class="effect-wrapper appear-animation col-md-4 col-sm-6 col-xs-12">
                        <div class="lily-effect ribbon-activator">
                            <div class="lily-head" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}">
                              {% if speaker.sharedImg == true %}
                                <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/' | append: speaker.thumbnailUrl }})">
                              {% elsif speaker.thumbnailUrl == null %}
                                <figure class="waves-effect waves-block waves-light" style="background-color: grey">
                              {% else %}
                                <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})">
                              {% endif %}
                                  <div class="overlay solid-overlay"></div>
                                  <ul class="ribbon-wrapper">
                                    {% if speaker.trackEntrepreneur == true %}
                                      <li class="entrepreneur-track">
                                          <p class="ribbon full-title">Entrepreneur</p>
                                      </li>
                                    {% endif %}
                                    {% if speaker.trackGeneral == true %}
                                      <li class="general-track">
                                          <p class="ribbon full-title">Technical</p>
                                      </li>
                                    {% endif %}
                                    {% if speaker.trackKeynote == true %}
                                      <li class="opening">
                                          <p class="ribbon full-title">Keynote</p>
                                      </li>
                                    {% endif %}
                                  </ul>
                                  <figcaption>
                                      <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                                      <p class="position">{{ speaker.company }}</p>
                                  </figcaption>
                                </figure>
                            </div>
                            <div class="lily-bottom">
                              <ul class="slider">
                                {% assign sessionsNumber = 0 %}
                                {% for session in site.data.sessions %}
                                  <!-- Handle slit session speakers -->
                                  {% if session.isSharedSession %}
                                    {% for slot_split in session.slot_splits %}
                                      {% for session_speaker in slot_split.speakers %}
                                        {% if session_speaker == speaker.id %}
                                          {% assign sessionsNumber = sessionsNumber | plus: 1 %}
                                          <li class="title slider-item animated fadeInRight hidden">{{ slot_split.title }}</li>
                                        {% endif %}
                                      {% endfor %}
                                    {% endfor %}
                                  {% else %}
                                    <!-- Handle regular session speakers -->
                                    {% for session_speaker in session.speakers %}
                                      {% if session_speaker == speaker.id %}
                                        {% assign sessionsNumber = sessionsNumber | plus: 1 %}
                                        <li class="title slider-item animated fadeInRight hidden">{{ session.title }}</li>
                                      {% endif %}
                                    {% endfor %}
                                  {% endif %}
                                {% endfor %}
                              </ul>
                              <a href="#" class="slider-next-item {% if sessionsNumber < 2 %}hidden{% endif %}">Next</a>
                            </div>
                        </div>
                    </div>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Speakers List -->
