<!-- Begin Sponsorship Section -->
<section id="sponsorship-faq" class="sponsorship-faq">
    <div class="content-wrapper">
        <div id="accordion" class="col-md-8">
            {% for faq in site.data.sponsor-faq %}
            <div class="card">
                <div class="card-header" id="header-{{ forloop.index }}">
                    <h4 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ forloop.index }}">
                            {{ faq.question }}
                        </button>
                    </h4>
                </div>
                <div id="collapse-{{ forloop.index }}" class="collapse-show" aria-labelledby="heading-{{ forloop.index }}" data-parent="#accordion">
                    <div class="card-body">
                        {{ faq.answer }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
