<!-- Begin Sponsorship Section -->
<section id="sponsors" class="partners">
        <!--<div class="col-lg-10 col-lg-offset-1">-->
  <h4>{{ site.sponsorshipTitle }}</h4>

  <div class="col-lg-8 col-lg-offset-2">
    <div class="text-justify">
      <h6>
          Our last event pulled in almost <b>{{ site.previousAttendeeCount }} attendees</b> in the information security industry. Interested in sponsoring? Check out the prospectus to learn more.
    </div>
    <br />
    <div class="text-center">
      <a href="{{ site.sponsorshipKitUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.sponsorshipButton }}</a>
    </div>
    <br/>
    <div class="text-center">
      <a href="https://forms.gle/kkDbR5zomTdHFVBh9"class="btn btn-primary waves-effect waves-button waves-light waves-float">Generate sponsorship agreement</a>
    </div>
    <h5>Questions? Check out our <a href="/sponsorship-faq/">sponsorship FAQ</a>. </h5>
  </div>
  <br />

  <br />

</section>
<!-- End Sponsorship Section -->
