<!-- Begin Direction Details-->
<section id="direction-details" class="direction-details">
    <div class="content-wrapper">
        <section class="image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/subscribe.jpg');">
            <h3 class="title-overlay">Become a Sponsor!<p>Nearly 1000 attendees across the information security industry joined us at our last event. </p></h3>
            <div class="overlay solid-overlay"></div>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-md-6 col-xs-12">
                    <div class="directions-card text-center">
                        <h4 >Prospectus</h4>
                        <p>Learn about BSidesNYC, our attendees, and the opportunity you have to support the Information Security Community.</p>
                        <a href="{{ site.sponsorshipKitUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.sponsorshipButton }}</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="directions-card text-center">
                        <h4>Sponsorship Agreement</h4>
                        <p>Generate a sponsorship agreement to get started!</p>
                        <a href="https://forms.gle/CTwUAbyVqFaV2VFu5" class="btn btn-primary waves-effect waves-button waves-light waves-float">Generate sponsorship agreement</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Direction Details -->
