<!-- Begin Sponsorship Section -->
<section id="sponsors" class="partners">
        <!--<div class="col-lg-10 col-lg-offset-1">-->
  <h3><b>{{ site.sponsorshipTitle }}</b></h3>

  <div class="col-lg-8 col-lg-offset-2">
    <div class="text-justify">
      <h6>
          Our last event pulled in nearly <b>{{ site.previousAttendeeCount }} attendees</b> in the InfoSec industry and was sponsored by {{ site.previousSponsorCount }} absolutely awesome companies! {{ site.conYear }} will be no different – We’re looking for companies who see the benefit in supporting community-focused event to show their support by sponsoring BSidesNYC.
      </h6>
      <br />
      <h6>Interested in sponsoring? Fill out our Sponsorhip Kit and send it over to us {{ site.email }}</h6>
    </div>
    <br />
    <div class="text-center">
      <a href="{{ site.sponsorshipKitUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.sponsorshipButton }}</a>
    </div>
  </div>

  <br />

</section>
<!-- End Sponsorship Section -->
