<!-- Begin Statistic Section -->
<section id="statistic" class="statistic image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.statisticBlockImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper row justify-content-center">
			{% assign animationDelay = 0 %}
            {% for statistic in site.statisticBlock %}
            <div class="col-6 col-md-3">  
                <div class="counter animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                    <div class="stat"><span class="timer" data-from="0" data-to="{{ statistic.count}}">{{ statistic.count}}</span>{{ statistic.specialCharacter}}</div>
					<div class="stat-info">{{ statistic.info}}</div>
					<hr>
					<p class="small">{{ statistic.detail}}</p>
                </div>
            </div>
            {% assign animationDelay = animationDelay | plus:500 %}
            {% assign check = forloop.index | modulo:2 %}
            {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
            {% endfor %}
	</div>
</section>
<!-- End Statistic Section -->
