<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h4>{{ site.subscribeTitle }}</h4>
            <div id="mc_embed_signup" class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                    hbspt.forms.create({
                        region: "na1",
                        portalId: "44859076",
                        formId: "f0e1ea4a-4016-4906-abcc-6f18e0778b93"
                    });
                </script>
                <span class="subscribe-info">{{ site.subscribeInfo }}</span>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->
