<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.subscribeImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h4>{{ site.subscribeTitle }}</h3>
            <div id="mc_embed_signup" class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
                <iframe class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/8ViU/P4H" width="100%"></iframe>
                <script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>
                <span class="subscribe-info">{{ site.subscribeInfo }}</span>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->
