<!-- Begin Rockstar supporters Section -->
<section id="supporters" class="supporters image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.supportersImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
      <div class="col-lg-10 col-lg-offset-1 supporters-list">
        <h3 id="supporters-title"><b>{{ site.supportersTitle }}</b></h3>
        <div id="supporters-list"></div>
        <div class="clearfix"></div>
      </div>
    </div>
</section>
<!-- End Rockstar Supporters Section -->
