<!-- Venue WiFi Section -->
<section id="venue-wifi" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/subscribe.jpg);">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>Internet Access</h3>
            <div id="mc_embed_signup" class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
                <p>John Jay's event space offers Free WiFi access. Please use responsibly.</p>
                <p class="text-center">SSID: <code>{{ site.venueWiFiSSID }}</code><br>Password: <code>{{ site.venueWiFiPW }}</code>
            </div>
        </div>
    </div>
</section>
<!-- End Venue WiFi Section -->
