<!-- Venue WiFi Section -->
<section id="venue-wifi" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/subscribe.jpg);">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper row justify-content-center">
        <div class="col-12 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>Internet Access</h3>
            <div class="text-center">
                <p>John Jay's event space offers Free WiFi access. Please use responsibly.</p>
                {% comment %}
                <p class="text-center">SSID: <code>{{ site.venueWiFiSSID }}</code><br>Password: <code>{{ site.venueWiFiPW }}</code>
                {% endcomment %}
            </div>
        </div>
    </div>
</section>
<!-- End Venue WiFi Section -->
