<!-- Venue Maps Section -->
<section id="venue-maps">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                <h3>Maps</h3>
                <p>{{ site.venueMapsIntro }}</p>
            </div>
        </div>

        {% for map in site.venueFloorMaps %}
        <div class="row venue-map-heading" id="{{ map.divId }}">
            <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                <h4>{{ map.name }}</h4>
                <img class="animated venue-map" data-animation="fadeIn" src="{{ site.baseUrl }}/img/venue/{{ map.image }}">
            </div>
        </div>
        {% endfor %}

    </div>
</section>
<!-- End Venue Maps Section -->
