<!-- Begin Video 2024 Section -->
<section id="video-2024" style="background-color: white">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h2>2024</h2>
            <div class="row">

                {% for video in site.data.videos_2024 %}
                <div class="col-md-6">
                    <div class="iframe-wrapper">
                        {{ video.embed }}
                    </div>
                    <p><a href="{{ video.url }}">{{ video.title }}</a></p>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

