<!-- Begin Video 2018 Section -->
<section id="video-2018" style="background-color: white">
    <div class="content-wrapper">
        <div class="col-md-8 offset-md-2">
            <h2>2018</h2>
            <div class="row">

                {% for video in site.data.videos_2018 %}
                <div class="col-md-6">
                    <div class="iframe-wrapper">
                        {{ video.embed }}
                    </div>
                    <p><a href="{{ video.url }}">{{ video.title }}</a></p>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

