<!-- Begin Video Provider Section -->
<section id="video-provider" style="background-color: white">
    <div class="content-wrapper">
       <div class="col-lg-6 offset-lg-3 col-xs-12">
            <h3>Video Provider</h3>
            <div class="row villages-row hidden-lg hidden-md">
                <div class="col-xs-12">
                    <h4 class="village-title">Internet Society</h4>
                </div>
            </div>
            <div class="row villages-row">
                <div class="col-lg-4 villages-img-wrapper">
                    <a href="https://www.internetsociety.org/" class="villages-img-wrapper">
                        <img class="img-responsive" src="{{ "/img/video/isoc-logo-1280x642.jpg" | prepend: site.baseurl }}">
                    </a>
                    <a class="villages-url text-left" href="https://www.internetsociety.org/#bsidesnyc">Learn More</a>
                </div>
                <div class="col-lg-8 text-left-xs-center">
                    <h4 class="village-title hidden-xs">Internet Society</h4>
                    <p class="village-text">The Internet Society supports and promotes the development of the Internet as a global technical infrastructure, a resource to enrich people’s lives, and a force for good in society.</p>
                </div>
            </div>
            <small>BSidesNYC would like to express our sincerest gratitude to Joly of the Internet Society for continuing to offer streaming of our conference content!</small>
        </div>
</section>

