<!-- Begin Villages List Section -->
<section id="villages-list" class="villages-list">
    <div class="content-wrapper">
        <div class="col-md-10 offset-md-1">
            <h3>Villages</h3>

            <div class="row justify-content-center">
                {% for village in site.data.villages %}

                <!-- village start -->
                <div class="col-md-6 d-flex">
                    <div class="village-card">
                        <div class="village-logo">
                            <img src="{{ site.baseurl }}/img/villages/{{ village.logo }}" alt="{{ village.title }}" loading="lazy">
                        </div>
                        <h4>{{ village.title }}</h4>
                        {% if village.handson %}
                        <p class="village-label">Hands On</p>
                        {% endif %}
                        <p class="village-text">{{ village.description }}</p>
                        {% if village.url %}
                        <div class="village-card-footer">
                            <a href="{{ village.url }}/#bsidesnyc" class="village-learn-more" target="_blank" rel="noopener">Learn More</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- village end -->

                {% endfor %}
            </div>

        </div>
    </div>
</section>
<!-- End Villages List Section -->
