<!-- Begin Villages About Section -->
<section id="villages" class="villages">
  <div class="content-wrapper">
    <div class="col-lg-6 offset-lg-3 col-xs-12">
      <h3>About</h3>
      <p>Villages are open spaces divided up by topic that host hands-on activities, demos, and workshops throughout the conference. They are generally less formal than the standard tracks and offer an alternative learning environment from the straight talk/lecture structure. They're also a great place to socialize and make contacts in the community! </p>
      <p>Villages are located on the first floor in Hound Square and on the second floor in the Cafeteria/Student Dining Hall (2.64). Come visit!</p>
    </div>
  </div>
</section>
<!-- End Villages About Section -->
