<!-- Begin Volunteers Section -->
<section id="villages-host" class="villages image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/volunteer.jpg);">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-6 col-lg-offset-3">
            <h3>Host a Village!</h3>
            <p class="post-body">If you're interested in hosting a village, email us at bsides (at) bsidesnyc (dot) org. </p>
            <p class="post-body">Villages are expected to run throughout the conference and need to be staffed appropriately (let us know if you need help with this). They should generally include hands-on events and activities, workshops, demos, etc., and should not be just another speaking track. Space is limited - use it wisely</p>
        </div>
    </div>
</section>
<!-- End Volunteers Section -->
