<!-- Begin Villages Actual Section -->
<section id="villages-actual" class="sponsors">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">

      <h3>{{ site.villagesTitle}}</h3>
      Villages, including recruitment partners, are located on the sixth floor. Come visit!
        <ul class="list-inline-large">
          {% for element in site.data.partners %}
            {% if element.villageName != null %}
              <li>
                  <a href="{{ element.link }}" target="_blank">
                    <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                  </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>


    </div>
  </div>
</section>
<!-- End Villages Actual Section -->
