<!-- Begin Volunteers Section -->
<section id="volunteers" class="volunteers">
    <div class="content-wrapper">
        <h3>{{ site.volunteersTitle }}</h3>
        <div class="col-lg-16 col-lg-offset-2 col-md-8 col-md-offset-2">
            <div class="float-left animated hiding text-justify" data-animation="{% if check == 0 %}fadeInRight{% else %}fadeInLeft{% endif %}" data-delay="0">
                  <p>{{ site.volunteersText }}</p>
            </div>
        </div>
    </div>
</section>
<!-- End Volunteers Section -->
