<!-- Begin Volunteers Section -->
<section id="volunteers" class="volunteers">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="text-center">{{ site.volunteersTitle }}</h3>
    <div class="content-wrapper">
      <p class="text-left text-justify">
        <!-- make sure site.volunteersText has _2_ new lines per every 1 \n unless you want each line right under each other-->
        {{ site.volunteersText | newline_to_br }}
      </p>
    </div>
  </div>
</section>
<!-- End Volunteers Section -->
