<!-- Begin Volunteer Section -->
<section id="volunteer" class="volunteer">
    <div class="content-wrapper">
            <h3>{{ site.volunteerTitle }}</h3>
        <div class="col-lg-12 col-lg-offset-2">
            <div class="col-lg-8 text-left">
              <p><h6>
                {{ site.volunteerText }}
                <a href="https://twitter.com/{{ site.twitterAccount }}" target="_blank">
                    <svg class="icon icon-twitter" viewBox="0 0 30 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                    </svg>
                </a>
                  {{ site.contactTextEmail}} <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </h6>
              </p>
            </div>
        </div>
    </div>
</section>
<!-- End Volunteer Section -->
