<!-- Begin Volunteers Section -->
<section id="volunteers" class="volunteers image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/volunteer.jpg);">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 offset-lg-2">
            <h3>{{ site.volunteersTitle }}</h3>
            <p class="post-body"><a href="{{ site.slackInviteUrl }}">Join our Slack</a> and the <a href="{{ site.contactUs }}">general mailing list</a> for all of the latest information and volunteer opportunities.</p>
            <p class="post-body"> The majority of volunteer opportunities are for the day of the conference. A call for volunteers will be put out <a href="{{ site.slackInviteUrl }}">via Slack</a> and the <a href="{{ site.contactUs }}">mailing list</a> <b>roughly one month prior to the conference date</b>. Volunteers are given the choice of tasks such as managing speakers, distributing attendee materials, supporting sponsors, registering attendees, guiding attendees, and supporting various other activities! </p>
        </div>
    </div>
</section>
<!-- End Volunteers Section -->
