.sponsor-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background: #fff;
    border-radius: $card-border-radius;
    box-shadow: $card-shadow;
    height: 100%;

    a {
        display: block;
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    &.sponsor-logo-gigabit {
        padding: 2rem;
    }

    &.sponsor-logo-megabit {
        padding: 1.5rem;
    }

    &.sponsor-logo-kilobit {
        padding: 1rem;
    }
}

.card {
    .card-header {
        font-size: 1.38rem;
        font-weight: $fw-extra-bold;
        color: #111;
    }

    .card-body {
        font-size: 1.08rem;
        color: #555;
    }
}
