.team {
	h3 {
	    margin-bottom: $component-spacing;
	}
	h4 {
	    margin: $section-padding-top 0 $small-section-padding-top;
	    text-align: center;
	}
}

.cfp-section {
    padding-top: $small-section-padding-top;
    padding-bottom: $small-section-padding-bottom;
}


