---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="@hiddenillusion">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.metaKeywords }}">
    <link rel="canonical" href="{{ site.url }}">
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitterAccount }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image:src" content="{{ "/img/favicons/favicon.png" | prepend: site.baseurl }}">

    <title>{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ "/img/favicons/favicon.ico" | prepend: site.baseurl }}">

    <meta name="theme-color" content="#2b5797">

    <!-- update the versioning # below to force browsers to reload this CSS file, else some crappy rendering may occur in between -->
    <link href="{{ "/css/main.css" | prepend: site.baseurl }}?v=0.2" rel="stylesheet">

        
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ "/js/utils.js" | prepend: site.baseurl }}"></script>

    <!-- 
        Page-dependant Javascript
    -->
    {% if page.permalink == '/speakers/' %}
        <script src="{{ "/js/speakers.js" | prepend: site.baseurl }}"></script>
        <script>
            onLoad("{{ site.sessionizeJsonAllData }}", "{{ site.baseurl }}");
        </script>
    {% elsif page.permalink == '/schedule/' %}
        <script src="{{ "/js/schedule.js" | prepend: site.baseurl }}"></script>
        <script>
            scheduleBuilder("{{ site.sessionizeJsonScheduleGrid }}", "{{ site.baseurl }}", "schedules");
            scheduleBuilder("{{ site.sessionizeJsonSpeakerList }}", "{{ site.baseurl }}", "speakerBackfill");
        </script>
    {% endif %}

</head>

<body>
    <div id="preloader" class="preloader">
        <div class="loader-gplus"></div>
    </div>

    <div id="st-container" class="st-container disable-scrolling">
        <div class="st-pusher">
            <div class="st-content">

                {{ content }}

                {% include footer.html %}

            </div>
        </div>
    </div>

    {% comment %}
    =======================================
    Modals
    =======================================
    {% endcomment %}

    {% if page.modal != null %}
      {% include speakers-modals.html %}
      {% include team-modals.html %}
      {% include cfp-board-modals.html %}
    {% endif %}

    {% if page.permalink == '/schedule/' %}
        {% include sessions-modals.html %}
    {% endif %}

    {% comment %}
    =======================================
    JavaScript
    =======================================
    {% endcomment %}

    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>

    {% if page.permalink == '/' or page.permalink == '/venue/' %}
      <script>
          if ($(window).width() > 767) {
              document.write('<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZLKTMdMVrh1zPyArjQ5tmD4BwKIrqshA"><\/script>')
          }
      </script>
    {% endif %}

    {% if page.permalink == '/venue/' %}
        <script type="text/javascript">
            var autoDirectionEnabled = {% if site.logisticsMapAutoDirections %} true {% else %} false {% endif %};
        </script>
    {% endif %}

    {% if page.permalink == '/' %}
      <script type="text/javascript">
          $(document).ready(function() {
              $(window).load(function() {
                $('#logo-header .logo').removeClass('logo-light');
              })});
      </script>
    {% endif %}

    {% comment %}
    =======================================
    Waves effect
    =======================================
    {% endcomment %}

    <script>
      $(document).ready(function () {
          $(function () {
              if ($(window).width() > 767) {
                  $("#typeout-text").typed({
                      strings: [{{site.typeoutTextValues}}],
                      typeSpeed: 150,
                      backDelay: 900,
                      loop: true
                  });
              }
                  }); });
    </script>
    <script>
        Waves.displayEffect();
        {% if page.permalink == '/' or page.permalink == '/venue/' %}
            if ($(window).width() > 767) {
                var googleMaps = 'index',
                    eventPlace = new google.maps.LatLng({{ site.eventPlaceCoordinates | replace:' ','' }}),
                    centerMap = new google.maps.LatLng({{ site.mapCenterCoordinates | replace:' ','' }}),
                    mobileCenterMap = new google.maps.LatLng({{ site.mapMobileCenterCoordinates | replace:' ','' }}),
                    icon = '{{ site.baseurl }}/img/other/map-marker.svg';
            } else {
               var staticGoogleMaps = true,
                eventPlaceCoordinates = '{{ site.eventPlaceCoordinates | replace:' ','' }}',
                centerMapCoordinates = '{{ site.mapCenterCoordinates | replace:' ','' }}',
                mobileCenterMapCoordinates = '{{ site.mapMobileCenterCoordinates | replace:' ','' }}',
                icon = '{{ site.baseurl | prepend: site.url }}/img/other/map-marker.png';
            }
            var twitterFeedUrl = '{{ site.twitterFeed }}';
       {% endif %}

    </script>

    <script src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/slider.js" | prepend: site.baseurl }}"></script>

  </body>
</html>
